<!DOCTYPE html>
<html lang="en">
    <%- include('./Partials/head.ejs') %>
<body>

    <%- include('./Partials/nav.ejs') %>
    
    <div class="About Content">
        <h2>About Us</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni, praesentium.</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore ducimus doloremque illum minus debitis saepe soluta, cumque officiis ea necessitatibus repudiandae aliquam dolores reprehenderit, optio itaque alias officia totam cupiditate!</p>
    </div>
    <%- include('./Partials/footer.ejs') %>
    
</body>
</html>